@import "src/style/variables.scss";

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & * {
    user-select: none;
  }
}

.toolbox {
  margin-top: 30px;
  position: absolute;
  color: #FFF;
  width: 90%;

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: -30px;
  }

  &__score {
    margin-right: 20px;
  }

  &__figure {
    margin-left: 20px;
    width: 100px;
  }

  &__button {
    background-color: #C6C6C6;
    font-size: $font-size-h4;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    width: 110px;
    max-height: 45px;
    padding: 6px 0;
    transition: all 0.15s linear;
    user-select: none;
    border-radius: 5px;

    @media (hover: hover) {
      &:hover {
        background-color: #AAA;
        color: #FFF;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__score {
      margin-right: 10px;
    }

    &__figure {
      margin-left: 10px;
    }

    &__button {
      font-size: $font-size-h5;
      width: 80px;
    }
  }

  @media screen and (max-width: 430px) {
    width: 100%;

    &__score {
      margin-right: 0;
    }

    &__figure {
      margin-left: 0;
    }

    &__button {
      margin: 0 10px;
    }
  }
}

canvas {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  justify-content: space-evenly;
  display: none;
  user-select: none;

  @media (hover: none) {
    display: flex;
  }

  button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    padding: 6px;
    border-radius: 5px;
    user-select: none;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: #AAA;
      color: #FFF;

      svg path {
        fill: #FFF;
      }
    }
  }
}
