.field {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__item {
        flex: 1 1 100%;
        border-radius: 5px;
        background-color: #DDD;
        border: 1px solid #BBB;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}